@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --magenta: #EE3E80;
  --magenta-dark: #b1295b;
  --orange: #F26749;
  --orange-dark: #b5462e;
  --yellow: #F9B950;
  --cream: #FFFFFE;
  --turquoise: #4FBFA5;
  --turquoise-two: #2DB495;
  --dark-transparency: #2e2e2eb4;
  --text-dark: #211f20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}    


