.wine-box-container {
  padding: 3rem 3rem;
  background-color: var(--cream);
}

.wine-box-container h2 {
  color: var(--magenta);
  font-size: 2rem;
  margin: 0 2rem 2rem;
}

.wine-box-gifts {
  display: flex;
  justify-content: space-around
}

.wine-box-gift-container {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  max-width: 30%;
  padding: 1rem 1rem;
}

.wine-box-gift-container:hover {
  background: linear-gradient(67.88624185404205deg, rgb(255, 188, 213) 6.54977533509342%,rgba(255, 188, 213) 6.54977533509342%,rgb(255, 206, 195) 95.71381879569455%);
}

.wine-box-gift-container h3 {
  font-size: 1.5rem;
  color: var(--magenta);
}

.wine-box-gift-container p {
  font-size: 0.8rem;
}

.wine-box-gift-container img {
  margin-right: 0.5rem;
}

