.wine-you-card-container {
  padding: 3rem;
  padding-bottom: 2rem;
  width: 80%;
}

.wine-you-card-wrapper {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.wine-you-card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.wine-you-card-content p, .wine-you-card-content h3 {
  color: var(--cream);
  margin-bottom: 0.75rem;
  text-align: center;
}

.wine-you-card-wrapper img {
  margin-right: 2rem;
  width: 25%;
}

.wine-you-card-wrapper button {
  background-color: var(--turquoise);
  border: 0.1rem solid var(--cream);
  border-radius: 0.5rem;
  color: var(--cream);
  padding: 0.8rem;
  transition: 0.7s;
  width: 70%;
}